@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

body {
  background-color: hsl(210, 60%, 98%);
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
}

main {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  left: 25%;
  padding: 2em;
  position: absolute;
  top: 5%;
  width: 50vw;
}

p {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header > span {
  margin: auto 0;
  color: hsl(219, 14%, 63%);
}

.header > span:hover,
.user-profile-link:hover,
.notification-endpoint:hover {
  cursor: pointer;
  color:hsl(219, 85%, 26%);
}

.notification-counter {
  display: flex;
}

.notification-counter > span {
  font-size: 1.5em;
  font-weight: 800;
  margin: auto 0;
}

.notifications-list {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  width: 100%;
}

.notification {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-radius: 10px;
  padding-right: 1em;
}

.unread {
  background-color: hsl(210, 60%, 98%);
}

.notification:not(:first-child) {
  margin-top: 0.5em;
}

.notification-main-description {
 display: flex;
}

.notification-description {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.notification-description > span {
  color: hsl(219, 14%, 63%);
  margin-top: 0.4em;
}

.individual-notification-description > span {
  color: hsl(219, 14%, 63%);
  margin: 0 0.4em;
}

.notification-endpoint {
  text-decoration: none;
  color: hsl(219, 12%, 42%);
  font-weight: 800;
}

.avatar {
  display: flex;
}

.avatar > img {
  height: 60%;
  margin: auto;
}

.target-picture {
  display: flex;
  margin-left: auto;
}

.target-picture > img {
  height: 3em;
  margin: auto 0;
  width: 3em;
}

.user-profile-link {
  text-decoration: none;
  font-weight: 800;
  color: black;
}

.counter {
  background-color: hsl(219, 85%, 26%);
  border-radius: 10px;
  color:hsl(0, 0%, 100%);
  font-weight: 800;
  margin-left: 1em;
  padding: 0.5em;
  text-align: center;
  width: 1.5em;
}

.notification-status {
  border-radius: 50%;
  background-color: hsl(1, 90%, 64%) !important;
  height: 0.5em;
  width: 0.5em;
  display: inline-block;
}

.private-message {
  border: 1px solid hsl(219, 14%, 63%);
  border-radius: 5px;
  color: hsl(219, 14%, 63%);
  margin-bottom: 1em;
  padding: 1em;
  align-self: flex-end;
  width: 80%;
}

@media only screen and (max-width: 700px) {
  main {
    width: 100%;
    left: 0;
    top: 0;
    padding: 1em;
    box-sizing: border-box;
  }

  .notification-counter > span {
    font-size: 1.2em;
  }

  .counter {
    height: 1.2em;
    padding: 0.3em 0.4em;
  }

  .header > span {
    font-size: 0.8rem;
  }

  .notification-description {
    font-size: 0.8em;
  }

  .private-message {
    font-size: 0.8em;
    width: 65%;
  }
}